In [22]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

data = pd.read_csv("/home/gabriel/Desktop/federal/2024.2/deep learning/thoth/datasets/iris/Iris.csv" )

data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [23]:
data.drop(columns=['Id'], inplace=True)
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [24]:
data = data.dropna()

In [25]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [26]:
data.info

<bound method DataFrame.info of      SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]>

In [ ]:
species = data[['Species']].values

# Initialize the encoder
encoder = OneHotEncoder(sparse_output=False)

# Fit and transform the data
species_encoded = encoder.fit_transform(species)

# Convert back to a dataframe with column names
encoded_df = pd.DataFrame(species_encoded, columns=encoder.get_feature_names_out(['Species']))

# Concatenate with the original dataset
data = pd.concat([data, encoded_df], axis=1).drop(columns=['Species'])
# Convert all data to float if necessary
data = data.astype(float)
data.describe

ValueError: Shape of passed values is (150, 1), indices imply (150, 3)

In [8]:
data.to_csv('data.csv', index=False)